<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="body">
    <div class="pg">
        <div class="page-header">
            <div class="logo">
                <a href="/"><h1 style="margin-left: 10px;">Feast</h1></a>
            </div>
        </div>
    </div>
<p>

<h3>Group Name: <%= @group.group_name %></h3>

<% for item in @restaurants %>
<ul id="ul-example" class="row-fluid">
  <li class="span4" data-color="gray">
    <div class="thumbnail">
      <div class="thumbnail-image">
        <img src=<%= item["image_url"] %> />
      </div>
      <div class="caption">
        <h3><%= item["name"] %></h3>
        <p>State: Colorado</p>
        <p>Year: 1982</p>
        <p><a href="http://en.wikipedia.org/wiki/Stegosaurus" class="btn btn-primary">View</a> <a href="#" class="btn">View</a></p>
      </div>
    </div>
  </li>
  <!-- ... //-->
</ul>
<% end %>

<!--     <%= bootstrap_form_for(@group) do |f| %>
      <%= f.text_field :users, placeholder: "Enter your name here", required: true %>
      <%= f.submit "Submit", class: "submitButton"%>
    <% end %> -->
</p>
 