<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="body">
    <div class="pg">
        <div class="page-header">
            <div class="logo">
                <a href="/"><h1 style="margin-left: 10px;">FeastFindr</h1></a>
            </div>
        </div>
    </div>
<p>



<div class="group_header">
  <h1>Group Name: <%= @group.group_name %></h1>
</div>
  <div class="h3" style="text-align: center; margin-top: -1%;
    margin-bottom: 3%;">
    Step 2: Choose your favorite options!
  </div>
  <%= bootstrap_form_for @user, :url => group_users_path(group_access_token: @group.access_token) do |f| %>
  <div class="username_field">
    <%= f.text_field :username, placeholder: "Enter your name here", required: true %>
  </div>
  <%= f.hidden_field :group_id, value: @group.id %>
  <%= f.hidden_field :restaurants, value: @restaurants %>
  <div class="results">
  <% for item in @restaurants %>
 
    <ul id="ul-example" class="row-fluid">
      <li class="col-md-4" data-color="gray">
        <div class="thumbnail">
  <!--         <div class="thumbnail-image">
            <img src=<%= item["restaurant"]["thumb"] %> />
          </div> -->
          <div class="caption">
            <h3><%= item["restaurant"]["name"] %></h3>
            <p>Cuisines: <%= item["restaurant"]["cuisines"] %></p>
            <p>Rating: <%= item["restaurant"]["user_rating"]["aggregate_rating"] %></p>
            <p>Votes: <%= item["restaurant"]["user_rating"]["votes"] %></p>
            <p>Price: <%="$" * item["restaurant"]["price_range"] %> </p>
            <p><a href=<%= item["restaurant"]["menu_url"]%> class="btn btn-primary" target="_blank" style="color: white !important;">Menu</a> <a href=<%= item["restaurant"]["photos_url"]%> class="btn btn-primary" target="_blank" style="color: white !important;" >Photos</a></p>
          </div>
          <div class="checkbox_list">
            <%= f.check_box :preferences, :multiple => "true", label: " " %>
          </div>
        </div>
      </li>
      <!-- ... //-->
    </ul>

  <% end %>
  </div>
  <% hidden_field_tag("restaurants", @restaurants) %>
  <%= f.submit "Submit", class: "submitButton"%>
<% end %>



<!--     <%= bootstrap_form_for(@group) do |f| %>
      <%= f.text_field :users, placeholder: "Enter your name here", required: true %>
      <%= f.submit "Submit", class: "submitButton"%>
    <% end %> -->
</p>


 