<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="body">
    <div class="pg">
        <div class="page-header">
            <div class="logo">
                <a href="/"><h1 style="margin-left: 10px;">Feast</h1></a>
            </div>
        </div>
    </div>
<p>

<div class="group_header">
  <h1>Group Name: <%= @group.group_name %></h1>
</div>
  <%= bootstrap_form_for @user, :url => group_users_path(group_access_token: @group.access_token) do |f| %>
  <%= f.text_field :username, placeholder: "Enter your name here", required: true %>
  <% for item in @restaurants %>
  <ul id="ul-example" class="row-fluid">
    <li class="col-md-4" data-color="gray">
      <div class="thumbnail">
        <div class="thumbnail-image">
          <img src=<%= item["restaurant"]["thumb"] %> class="img-rounded"/>
        </div>
        <div class="caption">
          <h3><%= item["restaurant"]["name"] %></h3>
          <p>Rating: <%= item["restaurant"]["user_rating"]["aggregate_rating"] %></p>
          <p>Average Cost for Two: $<%= item["restaurant"]["average_cost_for_two"] %> </p>
          <p><a href=<%= item["restaurant"]["url"]%> class="btn btn-primary" target="_blank">Learn More</a> <a href="#" class="btn">View</a></p>
        </div>
        <div class="checkbox_list">
          <%= f.check_box :preferences, label: "checked" %>
        </div>
      </div>
    </li>
    <!-- ... //-->
  </ul>
  <% end %>
  <%= f.submit "Submit", class: "submitButton"%>
<% end %>

<!--     <%= bootstrap_form_for(@group) do |f| %>
      <%= f.text_field :users, placeholder: "Enter your name here", required: true %>
      <%= f.submit "Submit", class: "submitButton"%>
    <% end %> -->
</p>
 